/* @import url(http://fonts.googleapis.com/css?family=Special+Elite); */
/* @import url(http://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans+Mono); */
/* @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500); */
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

body {
 margin-left: 15%;
 margin-right: 15%;
 margin-top: 10px;
 font-family: 'Quicksand', sans-serif;
 text-align: justify;
 font-size: 16px;
 padding: 12px;
 line-height: 18pt;
}


#table-of-contents {
    margin-left: 200px; }
#table-of-contents h3 {
    display: none; }
#table-of-contents h2 {
    display: none; }
#table-of-contents ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }

h1 {font-size: 30pt;
    color: #6fbf4d;
    font-family: 'Quicksand', sans-serif;
   /* font-family:"courier"; */
   }

.title {
    text-align: left;
    color: #6fbf4d;
    background: #FFFFFF;
    padding-bottom: 7px; 
    margin-bottom: 20px;
    border-bottom: 1px solid #222;}

.footnote-paragraph {display: inline;}

h2 {
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  /* font-family:"courier"; */
  font-size: 18pt;
  padding-bottom: 4px; 
  margin-bottom: 5px;
  background-color: #6a6a6a;
  padding: 4px;
  }

h3 {font-size: 14pt; 
    color: #2a2a2a;
    background-color: #FFFFFF;
   }
h4 {font-size: 12pt;
    color: #2a2a2a
    background-color: #FFFFFF;
   }

a {text-decoration: none; color: #42770c}
a:visited {text-decoration: none; color: #42770c}
a:hover {text-decoration: none; color: #003333}

/* a {text-decoration: none; color: #6fbf4d} */
/* a:visited {text-decoration: none; color: #6fbf4d} */
/* a:hover {text-decoration: none; color: #6fbf4d} */

/* p {text-indent: 1.5em} */

.todo {color: #990000;}
.done {color: #006666;}
.timestamp-kwd {color: #444;}
.tag {color: #DDD; font-size: 70%; font-weight: 500;}

table {border: none;}
td {border: 0px solid #dddddd; padding: .1em .7em .1em .3em;}
th {border: none;}

li {padding-top: 6px;
    padding-bottom: 6px;}

.bibtexitem {
 font-size: 14px;
}    

.bibtexnumber {
 font-size: 14px;
  font-family:"courier";
}

code {font-family: "Source Code Pro"; font-size: 11pt;}

pre {border: 1px solid #555;
     background: #111111;
     color: #eee;
     line-height: 14pt;
     font-size: 11pt;
     padding: 1em;}

blockquote {border: 1px solid #555;
     background: #eee;
     color: black;
     line-height: 14pt;
     font-size: 11pt;
     padding: 1em;}

img {border: none;}

.share img {
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
	}

.share img:hover {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	}

table {
    font-size: 80%
}

table.testgrid { 
    border-collapse: collapse; 
    border: 1px solid #CCB; 
    width: 800px; 
}
table.testgrid td, table.testgrid th { 
    padding: 5px; 
    border: 1px solid #E0E0E0; 
}
table.testgrid th { 
    background: #E5E5E5; 
    text-align: left; 
}
input.invalid { 
    background: red; 
    color: #FDFDFD; 
}

/* @font-face { */
  /* font-family: 'Cardo'; */
  /* font-style: normal; */
  /* font-weight: normal; */
  /* src: local('Cardo'), url('cardo.ttf') format('truetype'); */
/* } */


/* @font-face { */
/*   font-family: 'Droid Serif'; */
/*   font-style: italic; */
/*   font-weight: normal; */
/*   src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('http://themes.googleusercontent.com/static/fonts/droidserif/v1/cj2hUnSRBhwmSPr9kS589-LrC4Du4e_yfTJ8Ol60xk0.ttf') format('truetype'); */
/* } */

/* @font-face { */
/*   font-family: 'Droid Sans'; */
/*   font-style: normal; */
/*   font-weight: normal; */
/*   src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v1/s-BiyweUPV0v-yRb-cjciC3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'); */
/* } */
/* @font-face { */
/*   font-family: 'Droid Serif'; */
/*   font-style: normal; */
/*   font-weight: normal; */
/*   src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/static/fonts/droidserif/v1/0AKsP294HTD-nvJgucYTaJ0EAVxt0G0biEntp43Qt6E.ttf') format('truetype'); */
/* } */
/* @font-face { */
/*   font-family: 'Droid Serif'; */
/*   font-style: italic; */
/*   font-weight: normal; */
/*   src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('http://themes.googleusercontent.com/static/fonts/droidserif/v1/cj2hUnSRBhwmSPr9kS589-LrC4Du4e_yfTJ8Ol60xk0.ttf') format('truetype'); */
/* } */
/* @font-face { */
/*   font-family: 'Droid Sans'; */
/*   font-style: normal; */
/*   font-weight: normal; */
/*   src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v1/s-BiyweUPV0v-yRb-cjciC3USBnSvpkopQaUR-2r7iU.ttf') format('truetype'); */
/* } */
/* @font-face { */
/*   font-family: 'Droid Serif'; */
/*   font-style: normal; */
/*   font-weight: normal; */
/*   src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/static/fonts/droidserif/v1/0AKsP294HTD-nvJgucYTaJ0EAVxt0G0biEntp43Qt6E.ttf') format('truetype'); */
/* } */
